/* Настройка */
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

 h1,h2,h3,h4,h5,h6,p:{font-size: inherit;font-weight:400;} 
img{
    display: block;
    max-width: 100%;
}
h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
}
html{
  box-sizing: border-box;
  scroll-behavior: smooth;/* Плавный скрол*/
}
body{
    margin: 0;
    font-family:'Montserrat', sans-serif;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    /* background-color: #d1f5bc;    */
}
.container_second{
   max-width: 1064px;
   margin: 0 auto;
   /* background-color: #f0cbc9;    */
}
:root{
    --color_text:#262729;
    --color_accent:#2A90D9;
    --color_interaction:#EE685F;
    --color_white:#FFFFFF;
    --color_green: rgb(57, 150, 57);
    --color_main: #8ccef5;
    --color_main-hover:rgba(22, 146, 235, 0.2);
    --color_cecond-hover: rgba(158, 206, 240); 
    --color_therd-hover: #0a3fec;
    --color_main-focus:rgba(158, 206, 240);
    --color_main-active: rgba(241, 94, 94, 0.2); 
    --color-main-background:  rgba(158, 206, 240, 0.8); 
    --color-moo-background:rgb(43, 187, 156, 0.5);
    --color-moo-background-hover:rgb(43, 187, 156, 0.8);
}

.text-h1{
  color: var(--color-text, #262729);
  text-align: center;
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.text-h2{
    color: var(--color-text, #262729);
    font-size: 22px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
}
.text-h3{
  color: #333;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.text-h4{
  color: var(--color-text, #262729);
  font-size: 18px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
}
.text-h5{
color: var(--color-text, #262729);
text-align: center;
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 18px; 
}
.text-h6{
color: #262729;
font-family: Montserrat;
font-size: 14px;
font-style: italic;
font-weight: 400;
line-height: normal;
}
.text-p{
}
.text-p-min{
}
/*transform*/
.contant-translate{
  transition: all 0.6s ease 0s;
}
.contant-translate:active{
  transform: translate(0px, 10px);
}
.contant-scale{
  transform: scale(1, 1);
  transition: all 0.6s ease 0s;
}
.contant-scale:hover{
  transform: scale(1.1, 1.1);
}
.contant-scale:active{
  transform: scale(0.8, 0.8);
}
.contant-skew{
  transform: skew(10deg, 10deg);
  transition: all 0.8s ease 0s;
}
.contant-skew:hover{
  transform: skew(0deg, 0deg);
}
.contant-skew:active{
  transform: skew(10deg, 10deg);
}
.content-perspective3d{
  transition: all 0.5s ease 0s;
  transform:  perspective(40px) rotateX(-1deg);

}
.content-perspective3d:hover{
  transform:  perspective(200px) rotateX(2deg);
}
.content-perspective3d:active{
  transform:  perspective(10px) rotateX(-1deg);
}
/*transform end*/
/*Настройка end*/
/* Header */

/* head */
.header_rel{
  position: relative;
}
.header_fix{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1064px;
    width: 100%;
    z-index: 1;
}
.header_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1064px;
    margin-top: px;
    height: 50px;
    background-color: rgba(241, 241, 235, 0.8); 
}
.header_left {
    display: flex;
    align-items: center;
    height: 55px;
}
.header_burger_logo{
    display: flex;
    align-items: center;
}
.header_burger {
    display: none;
    color:var(--color_text);
    margin-right: 5px;
    margin-top: 6px;
}
.header_burger_line {
    margin-right: 16px;
}
.header_burger_item {
    display: block;
    width: 25px;
    height: 2px;
    background-color:#333;
    margin-bottom: 5px;
}
.header_burger_item:last-child{
    margin-bottom: 0;
} 
.header_logo {
    margin-left: 10px;
}

.header_logo-p {
    font-size: 35px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.header_logo_first{
    color: var(--color_accent);
}
.header_logo_second{
    color: var(--color_interaction);
}
.header_menu_left {
   display: flex;
   margin-left: 40px;
   /* display: none;  */
}
.menu-h5 {
    color: var(--color-text, #262729);
    font-size: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 34px;
}
.menu-h5:last-child {
    margin-right: 0;
}

.main{
  text-decoration: underline;
}
.header_right {
   display: flex;
}
.header_menu_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_money {
     margin-right: 15px; 
     color: var(--color_green);
     width: 25px;
}

.header_language {
     margin-right: 15px;
     color:var(--color_accent);
     width: 25px;
}

.header_enter {
  color: var(--color_text);
  margin-right: 4px;
  width: 25px;
}

.header_enter_img {}

/* head end */
/* banner */

.banner {
   padding-top: 48px;
}
.banner_img {
    min-height: 520px;
    background-image: url('../logoimg/mainfhoto.avif');
    background-repeat: no-repeat;
    background-size: cover;
}
.banner_text {
    padding-top: 110px;
    padding-left: 67px;
}
.banner-h1 {
    max-width: 528px;
    color: var(--color-text, #262729);
    font-size: 43px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    animation-name: animatetop;
    animation-duration: 1.6s;
}
@keyframes animatetop {
  from {
      margin-top: 250px;
      opacity: 0.1;
  }
  to{
      margin-top: 0;
      opacity: 1;
  }
}

/* baner end */
/* Search */

.search {
    position: relative;
    height: 70px;
}

.search_erase{
  width: 40px;
  height: 40px;
  border: rgb(10, 9, 9, 0.5) solid 1px;
  padding-top: 7px;
  border-radius: 5px;
  text-align: center;
  margin-top: 2px;
}
.search_menutoo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    max-width: 1050px;
    width: 100%;
    top: -35px;
    bottom: 0;
  }
  .search_flaxtoo{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hei{
    min-height: 100px;
  }
  .search_righttoo{
    min-width: 100px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    padding: 9px 6px;
    border-radius: 5px;
  }
  .search_right_img{
  }
  .search_icons{
    color: rgb(56, 61, 10);
  }

  .search_backspace{
    padding-left: 6px;
  }
  .material-icons {
   width: 100%;
  }
  .search_inp{
    width: 200px;
    height: 40px;
  }
  .search_sel{
    margin-left: 5px;
    font-size: 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* Настройка Select */
    appearance: none;
    border: 1px solid #233507 ;
    background-color: transparent;/*Прозрачній*/
    outline: none;
    min-width: 100px;
    border-radius: 5px;
    cursor: pointer;
    padding: 9px 9px;
    color: rgb(6, 37, 5);
  }

/* Для єксплорера */
.select::-ms-expand{
  display: none;
}
  
.search_buttontoo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 63px;
    border-radius: 5px;
  }

 .search_go{
    width: 40px;
    height: 40px;
    border: rgb(10, 9, 9, 0.5) solid 1px;
    padding-top: 7px;
    border-radius: 5px;
  }
  
/* Search end */
/* Материалайз выдвижное меню бургер */

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
  .sidenav span.badge {
    margin-top: calc(24px - 11px);
  }

  .sidenav .collapsible,
  .sidenav.fixed .collapsible {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  .sidenav .collapsible li,
  .sidenav.fixed .collapsible li {
    padding: 0;
  }
  
  .sidenav .collapsible-header,
  .sidenav.fixed .collapsible-header {
    background-color: transparent;
    border: none;
    line-height: inherit;
    height: inherit;
    padding: 0 16px;
  }
  
  .sidenav .collapsible-header:hover,
  .sidenav.fixed .collapsible-header:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .sidenav .collapsible-header i,
  .sidenav.fixed .collapsible-header i {
    line-height: inherit;
  }
  
  .sidenav .collapsible-body,
  .sidenav.fixed .collapsible-body {
    border: 0;
    background-color: #fff;
  }
  
  .sidenav .collapsible-body li a,
  .sidenav.fixed .collapsible-body li a {
    padding: 0 23.5px 0 31px;
  }
  .sidenav {
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    margin: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: translateX(-105%);
            transform: translateX(-105%);
  }
  
.sidenav.right-aligned {
    right: 0;
    -webkit-transform: translateX(105%);
            transform: translateX(105%);
    left: auto;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  
  .sidenav .collapsible {
    margin: 0;
  }
  
  .sidenav li {
    float: none;
    line-height: 48px;
  }
  
  .sidenav li.active {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .sidenav li > a {
    color: var(--color-text);
    display: block;
    font-size: 20px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
  }
  
  .sidenav li > a:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .sidenav li > a.btn, .sidenav li > a.btn-large, .sidenav li > a.btn-small, .sidenav li > a.btn-large, .sidenav li > a.btn-flat, .sidenav li > a.btn-floating {
    margin: 10px 15px;
  }
  
  .sidenav li > a.btn, .sidenav li > a.btn-large, .sidenav li > a.btn-small, .sidenav li > a.btn-large, .sidenav li > a.btn-floating {
    color: #fff;
  }
  
  .sidenav li > a.btn-flat {
    color: #343434;
  }
  
  .sidenav li > a.btn:hover, .sidenav li > a.btn-large:hover, .sidenav li > a.btn-small:hover, .sidenav li > a.btn-large:hover {
    background-color: #2bbbad;
  }
  
  .sidenav li > a.btn-floating:hover {
    background-color: #26a69a;
  }
  /* Настройка положения  иконок в меню */
  .sidenav li > a > i,
  .sidenav li > a > [class^="mdi-"], .sidenav li > a li > a > [class*="mdi-"],
  .sidenav li > a > i.material-icons {
    float: left;
    height: 48px;
    line-height: 48px;
    margin: 0 32px 0 0;
    width: 24px;
    color: rgba(0, 0, 0, 0.54);
  }
  
  .sidenav .divider {
    margin: 8px 0 0 0;
  }
  
  .sidenav .subheader {
    cursor: initial;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    font-weight: 500;
    line-height: 48px;
  }
  
  .sidenav .subheader:hover {
    background-color: transparent;
  }
  
  .sidenav .user-view {
    position: relative;
    padding: 32px 32px 0;
    margin-bottom: 8px;
  }
  
  .sidenav .user-view > a {
    height: auto;
    padding: 0;
  }
  
  .sidenav .user-view > a:hover {
    background-color: transparent;
  }
  
  .sidenav .user-view .background {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  
  .sidenav .user-view .circle, .sidenav .user-view .name, .sidenav .user-view .email {
    display: block;
  }
  
  .sidenav .user-view .circle {
    height: 64px;
    width: 64px;
  }
  
  .sidenav .user-view .name,
  .sidenav .user-view .email {
    font-size: 14px;
    line-height: 24px;
  }
  
  .sidenav .user-view .name {
    margin-top: 16px;
    font-weight: 500;
  }
  
  .sidenav .user-view .email {
    padding-bottom: 16px;
    font-weight: 400;
  }
  
  .drag-target {
    height: 100%;
    width: 10px;
    position: fixed;
    top: 0;
    z-index: 998;
  }
  
  .drag-target.right-aligned {
    right: 0;
  }
  
  .sidenav.sidenav-fixed {
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: fixed;
  }
  
  .sidenav.sidenav-fixed.right-aligned {
    right: 0;
    left: auto;
  }
  
  .sidenav .collapsible-body > ul:not(.collapsible) > li.active,
  .sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active {
    background-color: #ee6e73;
  }
  
  .sidenav .collapsible-body > ul:not(.collapsible) > li.active a,
  .sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active a {
    color: #fff;
  }
  
  .sidenav .collapsible-body {
    padding: 0;
  }
  
  .sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 997;
    display: none;
  }

  .collection .collection-item.avatar:not(.circle-clipper) > .circle,
  .collection .collection-item.avatar :not(.circle-clipper) > .circle {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
  }
  
  .collection .collection-item.avatar i.circle {
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    background-color: #999;
    text-align: center;
  }
  .circle {
    border-radius: 50%;
  }
  .waves-circle {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  }
  .waves-circle {
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%;
    -webkit-mask-image: none;
  }

  .gap-patch .circle {
    width: 1000%;
    left: -450%;
  }
  
  .circle-clipper {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-color: inherit;
  }
  
  .circle-clipper .circle {
    width: 200%;
    height: 100%;
    border-width: 3px;
    /* STROKEWIDTH */
    border-style: solid;
    border-color: inherit;
    border-bottom-color: transparent !important;
    border-radius: 50%;
    -webkit-animation: none;
    animation: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }
  
  .circle-clipper.left .circle {
    left: 0;
    border-right-color: transparent !important;
    -webkit-transform: rotate(129deg);
    transform: rotate(129deg);
  }
  
  .circle-clipper.right .circle {
    left: -100%;
    border-left-color: transparent !important;
    -webkit-transform: rotate(-129deg);
    transform: rotate(-129deg);
  }
  
  .active .circle-clipper.left .circle {
    /* duration: ARCTIME */
    -webkit-animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  }
  
  .active .circle-clipper.right .circle {
    /* duration: ARCTIME */
    -webkit-animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  }

  .breadcrumb i,
  .breadcrumb [class^="mdi-"], .breadcrumb [class*="mdi-"],
  .breadcrumb i.material-icons {
    display: inline-block;
    float: left;
    font-size: 24px;
  }
  .material-icons {
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: 'liga';
       -moz-font-feature-settings: 'liga';
            font-feature-settings: 'liga';
  }
  nav i,
nav [class^="mdi-"], nav [class*="mdi-"],
nav i.material-icons {
  display: block;
  font-size: 24px;
  height: 56px;
  line-height: 56px;
}
nav .brand-logo i,
nav .brand-logo [class^="mdi-"], nav .brand-logo [class*="mdi-"],
nav .brand-logo i.material-icons {
  float: left;
  margin-right: 15px;
}
nav ul a.btn > .material-icons, nav ul a.btn-large > .material-icons, nav ul a.btn-small > .material-icons, nav ul a.btn-large > .material-icons, nav ul a.btn-flat > .material-icons, nav ul a.btn-floating > .material-icons {
    height: inherit;
    line-height: inherit;
  }
  
.input-field input[type=search]:focus:not(.browser-default) + label i,
.input-field input[type=search]:focus:not(.browser-default) ~ .mdi-navigation-close,
.input-field input[type=search]:focus:not(.browser-default) ~ .material-icons {
  color: #444;
}

.input-field input[type=search] + .label-icon {
  -webkit-transform: none;
          transform: none;
  left: 1rem;
}

.input-field input[type=search] ~ .mdi-navigation-close,
.input-field input[type=search] ~ .material-icons {
  position: absolute;
  top: 0;
  right: 1rem;
  color: transparent;
  cursor: pointer;
  font-size: 2rem;
  -webkit-transition: .3s color;
  transition: .3s color;
}
.divider {
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
  }
  .dropdown-content li.divider {
    min-height: 0;
    height: 1px;
  }

/* Выдвижное меню бургер end */
/* Ьатериалайз модальное окно Where */

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0);
          transform: scale(0);
  pointer-events: none;
}

.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.45);
}

.waves-effect.waves-red .waves-ripple {
  background-color: rgba(244, 67, 54, 0.7);
}

.waves-effect.waves-yellow .waves-ripple {
  background-color: rgba(255, 235, 59, 0.7);
}

.waves-effect.waves-orange .waves-ripple {
  background-color: rgba(255, 152, 0, 0.7);
}

.waves-effect.waves-purple .waves-ripple {
  background-color: rgba(156, 39, 176, 0.7);
}

.waves-effect.waves-green .waves-ripple {
  background-color: rgba(76, 175, 80, 0.7);
}

.waves-effect.waves-teal .waves-ripple {
  background-color: rgba(0, 150, 136, 0.7);
}

.waves-effect input[type="button"], .waves-effect input[type="reset"], .waves-effect input[type="submit"] {
  border: 0;
  font-style: normal;
  font-size: inherit;
  text-transform: inherit;
  background: none;
}

.waves-effect img {
  position: relative;
  z-index: -1;
}
.waves-effect .waves-ripple {
  z-index: -1;
}
.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.45);
}
.z-depth-5, .modal {
  -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  max-height: 70%;
  width: 55%;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity;
}

.modal:focus {
  outline: none;
}

.modal h1, .modal h2, .modal h3, .modal h4 {
  margin-top: 0;
}

.modal .modal-content {
  padding: 24px;
}

.modal .modal-close {
  cursor: pointer;
}

.modal .modal-footer {
  border-radius: 0 0 2px 2px;
  background-color: #fafafa;
  padding: 4px 6px;
  height: 56px;
  width: 100%;
  text-align: right;
}

.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-small, .modal .modal-footer .btn-flat {
  margin: 6px 0;
}

.modal-overlay {
  position: fixed;
  z-index: 999;
  top: -25%;
  left: 0;
  bottom: 0;
  right: 0;
  height: 125%;
  width: 100%;
  background: #000;
  display: none;
  will-change: opacity;
}

.modal.modal-fixed-footer {
  padding: 0;
  height: 70%;
}

.modal.modal-fixed-footer .modal-content {
  position: absolute;
  height: calc(100% - 56px);
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
}

.modal.modal-fixed-footer .modal-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
}

.modal.bottom-sheet {
  top: auto;
  bottom: -100%;
  margin: 0;
  width: 100%;
  max-height: 45%;
  border-radius: 0;
  will-change: bottom, opacity;
}

.modal .modal-content {
  padding: 0px;
}
.modal.modal-fixed-footer .modal-content {
  position: absolute;
  height: calc(100% - 56px);
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
}
datepicker-container.modal-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}
.datepicker-container.modal-content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.timepicker-container.modal-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}
.timepicker-container.modal-content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.modal .modal-footer {
  border-radius: 0 0 2px 2px;
  background-color: none;
  background-color: transparent;/*Прозрачній*/
  padding: 4px 6px;
  height: 56px;
  width: 100%;
  text-align: right;
}

.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-small, .modal .modal-footer .btn-flat {
  margin: 6px 0;
}
.modal.modal-fixed-footer .modal-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
}
.modal .modal-close {
  cursor: pointer;
}
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0);
          transform: scale(0);
  pointer-events: none;
}

.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.45);
}

.waves-effect.waves-red .waves-ripple {
  background-color: rgba(244, 67, 54, 0.7);
}

.waves-effect.waves-yellow .waves-ripple {
  background-color: rgba(255, 235, 59, 0.7);
}

.waves-effect.waves-orange .waves-ripple {
  background-color: rgba(255, 152, 0, 0.7);
}

.waves-effect.waves-purple .waves-ripple {
  background-color: rgba(156, 39, 176, 0.7);
}

.waves-effect.waves-green .waves-ripple {
  background-color: rgba(76, 175, 80, 0.7);
}

.waves-effect.waves-teal .waves-ripple {
  background-color: rgba(0, 150, 136, 0.7);
}

.waves-effect input[type="button"], .waves-effect input[type="reset"], .waves-effect input[type="submit"] {
  border: 0;
  font-style: normal;
  font-size: inherit;
  text-transform: inherit;
  background: none;
}

.waves-effect img {
  position: relative;
  z-index: -1;
}
.waves-effect .waves-ripple {
  z-index: -1;
}
.waves-effect.waves-green .waves-ripple {
  background-color: rgba(76, 175, 80, 0.7);
}
nav ul a.btn, nav ul a.btn-large, nav ul a.btn-small, nav ul a.btn-large, nav ul a.btn-flat, nav ul a.btn-floating {
  margin-top: -2px;
  margin-left: 15px;
  margin-right: 15px;
}
nav ul a.btn > .material-icons, nav ul a.btn-large > .material-icons, nav ul a.btn-small > .material-icons, nav ul a.btn-large > .material-icons, nav ul a.btn-flat > .material-icons, nav ul a.btn-floating > .material-icons {
  height: inherit;
  line-height: inherit;
}
btn-flat {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

.btn.disabled, .disabled.btn-large, .disabled.btn-small,
.btn-floating.disabled,
.btn-large.disabled,
.btn-small.disabled,
.btn-flat.disabled,
.btn:disabled,
.btn-large:disabled,
.btn-small:disabled,
.btn-floating:disabled,
.btn-large:disabled,
.btn-small:disabled,
.btn-flat:disabled,
.btn[disabled],
.btn-large[disabled],
.btn-small[disabled],
.btn-floating[disabled],
.btn-large[disabled],
.btn-small[disabled],
.btn-flat[disabled] {
  pointer-events: none;
  background-color: #DFDFDF !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #9F9F9F !important;
  cursor: default;
}

.btn.disabled:hover, .disabled.btn-large:hover, .disabled.btn-small:hover,
.btn-floating.disabled:hover,
.btn-large.disabled:hover,
.btn-small.disabled:hover,
.btn-flat.disabled:hover,
.btn:disabled:hover,
.btn-large:disabled:hover,
.btn-small:disabled:hover,
.btn-floating:disabled:hover,
.btn-large:disabled:hover,
.btn-small:disabled:hover,
.btn-flat:disabled:hover,
.btn[disabled]:hover,
.btn-large[disabled]:hover,
.btn-small[disabled]:hover,
.btn-floating[disabled]:hover,
.btn-large[disabled]:hover,
.btn-small[disabled]:hover,
.btn-flat[disabled]:hover {
  background-color: #DFDFDF !important;
  color: #9F9F9F !important;
}

.btn, .btn-large, .btn-small,
.btn-floating,
.btn-large,
.btn-small,
.btn-flat {
  font-size: 14px;
  outline: 0;
}

.btn i, .btn-large i, .btn-small i,
.btn-floating i,
.btn-large i,
.btn-small i,
.btn-flat i {
  font-size: 1.3rem;
  line-height: inherit;
}
.btn-flat {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  color: #343434;
  cursor: pointer;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.btn-flat:focus, .btn-flat:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-flat:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn-flat.disabled, .btn-flat.btn-flat[disabled] {
  background-color: transparent !important;
  color: #b3b2b2 !important;
  cursor: default;
}
.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-small, .modal .modal-footer .btn-flat {
  margin: 6px 0;
}
.sidenav li > a.btn, .sidenav li > a.btn-large, .sidenav li > a.btn-small, .sidenav li > a.btn-large, .sidenav li > a.btn-flat, .sidenav li > a.btn-floating {
  margin: 10px 15px;
}
.sidenav li > a.btn-flat {
  color: #343434;
}

/* Модальное окно Where end */
/* Кногпка модального менбю  Where*/

.where_but{
  width: 250px;
  height: 50px;
  margin-left: 90px;
  margin-top: 130px;
  color:#000;
  background-color: rgb(77, 167, 147, 0.5);
  border-radius: 10px;
  border: solid 1px rgb(56, 61, 10);
  font-size: 22px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: none;
}
.where_but:hover{
  background-color:  rgb(77, 167, 147);
}
.where_menu{
  display: none;
  flex-direction: column;
  align-items: center;
}
.modal-content{
  display: none;
}

/* Кногпка модального менбю  Where end */
/* Материалайз выдвежное меню Язык */

.dropdown-trigger {
  cursor: pointer;
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.dropdown-content {
  background-color: #fff;
  margin: 0;
  display: none;
  min-width: 140px;
  min-height: 100px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  left: 70px;
  top: -45px;
  background-color: var(--color_main);
  z-index: 9999;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.dropdown-content:focus {
  outline: 0;
}

.dropdown-content li {
  clear: both;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  min-height: 20px;
  line-height: 1.5rem;
  width: 100%;
  text-align:center;
}

.dropdown-content li:hover, .dropdown-content li.active {
  background-color: #eee;
}

.dropdown-content li:focus {
  outline: none;
}

.dropdown-content li.divider {
  min-height: 0;
  height: 2px;
}

.dropdown-content li > a, .dropdown-content li > span {
  font-size: 20x;
  color: #10309c;
  display: block;
  line-height: 16px;
  padding: 14px 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
}

.dropdown-content li > span > label {
  top: 1px;
  left: 0;
  height: 18px;
}

.dropdown-content li > a > i {
  height: inherit;
  line-height: inherit;
  float: left;
  margin: 0 24px 0 0;
  width: 24px;
}

body.keyboard-focused .dropdown-content li:focus {
  background-color: #dadada;
}

.input-field.col .dropdown-content [type="checkbox"] + label {
  top: 1px;
  left: 0;
  height: 18px;
  -webkit-transform: none;
          transform: none;
}

/* Выдвежное меню  язык end */
/* Общие настройки для классов */

.search_righttoo,.search_erase,.search_sel, .search_go,.search_erase_clean,
.search_erase_search,.search_buttontoo,.modal_footer_where{
  background-color: var(--color-main-background);
}
.sidenav li > a:hover{
  background-color: var(--color_main-hover);
}
.search_sel:hover,.search_erase_clean:hover,.search_erase_search:hover,
.modal_footer_where:hover{
  background-color: var(--color_cecond-hover);
}
.search_sel:focus, .search_erase_clean:focus,
.search_erase_search:focus,.modal_footer_where:focus,.sidenav li > a:focus{
  background-color: var(--color_main-focus);
}

.search_sel:active,.search_erase_clean:active,
.search_erase_search:active,.modal_footer_where:active,.sidenav li > a:active{
  background-color: var(--color_main-active);
}
/* Общие настройки для классов end */


/* Why */

.why {
  max-width: 1170px;
  min-height: 450px;
  margin: 0 auto;
  padding-top: 75px;
  margin-top: -70px;
}
.why-text {
  padding: 0px 5px;
}
.why-h1 {
  max-width: 530px;
  min-height: 49px;
  margin: 0 auto;
}
.why-h3 {
  max-width: 570px;
  margin: 6px auto 0px;
}
.advantages-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  justify-items: center;
  align-items: center;
  margin-top: 30px;
  height: px;
}
.advantages-item {
  padding: 5px 5px;
  width: 290px;
  height: 220px;
}
.why-img{
  margin: 0 auto;
}
.advantages-text {
  margin-top: 15px;
}
.advantages-h3 {
  text-transform: capitalize;
}
.advantages-h5 {
  margin-top: 10px;
  text-align: center;
  text-transform:none;
  line-height: 18px;
}
/* Why end*/

/* Special offers */
.offers {
  max-width: 1170px;
  min-height: 560px;
  padding: 40px 5px 0px;
  margin: 0 auto;
}
.offers-h1 {
}
.offers-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
  max-width: 1170px;
  min-height: 450px;
  margin-top: 50px;
}
.offers-item {
  width: 350px;
  min-height: 430px;
  margin-right: 10px;
  margin-bottom: 30px;
  padding: 10px;
}
.offers-item:last-child {
  margin-right: 0px;
}
.offers-box1-img {
  background-image: url('../logoimg/luxor11.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.offers-box2-img {
  background-image: url('../logoimg/Kazka.webp');
  background-repeat: no-repeat;
  background-size: cover;
}
.offers-box3-img {
  background-image: url('../logoimg/kuss-1webp.webp');
  background-repeat: no-repeat;
  background-size: cover;
}
.offers-flex-img {
   display: flex; 
   justify-content: space-between; 
}
.offers-box-head {
  margin-top: 15px;
}
.offers-flex-text-icon{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 330px;
}
.like{
  display: inline-flex;
}
.offers-details-favorite-border{
  color: var(--color_accent);
}
.offers-details-favorite-border:hover{
  background-color: transparent;/*Прозрачній*/
  color: var(--color_therd-hover);
}
.offers-details-favorite-border:active{
  color: var(--color_main-active);
}
.offers-details-favorite{
  color:  #0a3fec;
  display: none;
}
.offers-details-favorite:hover{
  background-color: transparent;/*Прозрачній*/
  color: var(--color_therd-hover);
}
offers-details-favorite:active{
  color: var(--color_main-active);
}
.offers-h2{
  font-size: 20px;
  line-height: 30px;
  margin-top: 5px;
}
.apartment{
  text-decoration: underline;
}
.offers-h5{
  color: #858585;
  margin-top: 8px;
  text-align: left;
}
.offers-h4{
  font-weight: 400;
  line-height: 24px;
  margin-top: 5px;
}
.offers-box-price {
  margin-top: 15px;
}
.price-h1{
  color: var(--color-accent, #2A90D9);
  font-size: 30px;
  line-height: 40px; 
  text-align: left;
  display: inline-block;
}
.price-h4{
  color: var(--color-accent, #2A90D9);
  font-weight: 400;
  line-height: 24px; 
  display: inline-block;
  margin-left: 6px;
  font-size: 19px;
  }
.offers-box-details {
  display: flex;
  width: 350px;
  margin-top: 15px;
}
.offers-details-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
}
.offers-details-item:last-child{
  margin-right: 0px;
}

.ditails-h5{
  color: #858585;
  font-size: 16px;
  line-height: 24px;
  margin-left: 10px;
  text-align: left;
}

.rating {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
   width: 65px;
  height: 34px;
  background-color: #fff;
  border-radius: 10px;
}
.star-yellow {
  width: 16px;
  height: 16px;
}

/* Offers Общие настройки для классов */
.offers-box1-img ,.offers-box2-img ,.offers-box3-img {
  width: 100%;
  height: 220px;
  border-radius: 12px;
  padding: 10px;
}
/*  Offers Общие настройки для классов end */
/* Special offers end */

/* reviews */
.reviews{
  max-width: 1050px;
  min-height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.reviews-items {
  height: 500px;
}
.reviews-item{
  width: 70%;
  min-height: 300px;
  margin-top: 40px;
  padding: 10px;
}
.reviews-img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
}
.reviews-text{
  margin-top: 40px;
}
.reviews-h5{
  text-align: left;
  max-width: 450px;
  min-height: 140px;
  color: #000;
}
.reviews-h6{
  font-size: 12px;
  text-align: left;
  color: #000;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.revievs-span{
  font-weight: 600;
  color: #000;
}
/* Reviews end */

/* Reviews Karusel */

.carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 400px;
  -webkit-perspective: 500px;
          perspective: 500px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}

.carousel.center {
  top: 0;
  left: 0;
}

.carousel.carousel-slider .carousel-fixed-item {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 1;
}

.carousel.carousel-slider .carousel-fixed-item.with-indicators {
  bottom: 68px;
}

.carousel.carousel-slider .carousel-item {
  width: 100%;
  height: 100%;
  min-height: 400px;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel.carousel-slider .carousel-item h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.carousel.carousel-slider .carousel-item p {
  font-size: 15px;
}

.carousel .carousel-item {
  visibility: hidden;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel .carousel-item > img {
  width: 100%;
}

.carousel .indicators {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

.carousel .indicators .indicator-item {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 24px 4px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  border-radius: 50%;
}

.carousel .indicators .indicator-item.active {
  background-color: #fff;
}

.carousel.scrolling .carousel-item .materialboxed,
.carousel .carousel-item:not(.active) .materialboxed {
  pointer-events: none;
}
/* Reviews Karusel end */

/*Posts*/
.posts {
  margin-top: 30px;
}
.posts-h1 {
text-align: center;
font-style: normal;
line-height: normal;
}
.posts-items {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}
.posts-item {
  width: 300px;
 margin-right: 30px;
 margin-bottom: 30px;
}
.posts-item:last-child{
  margin-right: 0px;
}
.scale-img{
  transform: scale(1, 1);
  transition: all 0.6s ease 0s;
}
.scale-img:hover{
  transform: scale(1.2, 1.2);
}
.posts-text {
  margin-top: 25px;
}
.posts-h5 {
  line-height: 20px; 
  text-align: left;
}
.posts-h2 {
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: 10px;
}
.posts-h4 {
 line-height: 22px; 
 margin-top: 22px;
}

/* Futer */
.futer {
  height: 300px;
  background-color: #133a50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 20px;
}
.futer-text {
  text-align: center;
}
.header_logo-p {
  margin-bottom: 25px;
}
.futer-h2 {
  color: #fff;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
}
.futer-h2-first{
  margin-bottom: 25px;
}

/* Futer end */

/* Last */
.last{
  width: 100%;
  height: 1px;
}
/* Last end*/

/*Photo*/
.box{
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  bottom: -1000px;
  transform: perspective(600px) translate(0px, 100%) rotatex(-80deg);
}
.box:target{
 opacity: 1;
 left: 0;
 bottom: 0;
 transition: all 0.8s;
 transform: perspective(600px) translate(0px, 0%) rotatex(0deg);
}
.box-body{
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.box-contant{
  width: 60%;
  transition: all 0.5s ease 0s; 
}
.posts-img-full{
 width: 100%;
}
/*Photo end
/*Posts end*/

/* Настройка скрола */
body::-webkit-scrollbar{
  width: 9px;
}
body::-webkit-scrollbar-thumb{
  background-color: #daebf7;
  border-radius: 5px;
  border: #bfc9eb solid 2px;
}
body::-webkit-scrollbar-thumb:hover{
  background-color: #4aa6e7;
}
/* Настройка скрола end */


/* offers pupap */
.popup{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0; 
   visibility: hidden;  
  overflow-y: auto; 
  overflow-x: hidden;
  transition: all 1s ease 0s; 
  z-index: 1; 
}

.popup::-webkit-scrollbar{
  width: 12px;
}
.popup::-webkit-scrollbar-track{
  background-color: #bfc9eb;
}
.popup::-webkit-scrollbar-thumb{
  background-color: var(--color_accent);
  border-radius: 5px;
  border:  #bfc9eb solid 2px;
}
.popup::-webkit-scrollbar-thumb:hover{
  background-color: var(--color_therd-hover)ж
}
.popup.open{
  opacity: 1;
  visibility: visible;
}
.popup.closed{
  opacity: 0;
  visibility: hidden;
}
.popup.open .popup-content{
  transform: perspective(600px) translate(0px, 0%) rotate(0deg);  
  opacity: 1; 
}
.popup_area{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* background-color: #a4ec0a; */
}
.popup-body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center ;
  padding: 10px 10px;
  transition: all 0.8s ease 0s;
}
.popup-content {
  position: relative;
 /*background-color: transparent;*//*Прозрачній*/
  background-color: #2d3a8d;
  color: #000;
  border-radius: 10px;
  max-width: 2000px;
  max-height: 2000px;
  padding: 20px;
  opacity: 1;
  /* transform: translate(0%, -100%);*/
  transition: all 0.8s ease 0s; 
   transform: perspective(600px) translate(0px, -100%) rotatex(45deg);
}
.close{
  width: 20px;
  height: 20px;
}
.popup-header-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
}
.moo{
  width: 150px;
  height: 30px;
  background-color: #34533c;
  border-radius: 10px;
   border: solid 1px #fff; 
  padding: 5px;
}
.moo-h5{
  color: #fff;
  text-align: center;
}
.popup-photo{
  max-width: 1800px;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 30px;
  justify-items: center;
  align-items: center;
  margin: 20px auto;
}
.popup-img{
  border-radius: 10px;
  max-width: 250px;
  max-height: 250px;
  border: #000 solid 2px;
  transition: all 0.8s ease; 
}
/* Popup end */

/* popup photo */
.popup-item {
  width: 250px;
  height: 250px;
  padding: 0px; 
  margin: 20px;
}

.black{
  position: fixed;
  width: 100%;
  height: 100%;
  /* background-color: rgb(0, 0, 0, 0.2);  */
  left: 0;
  top: 0;
  z-index: 2;
  visibility: hidden;
  /* visibility: visible; */
   /* display: block;  */
   cursor: pointer; 
   transition: 0.8s; 
}

.full{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  /* background-color: rgb(0, 0, 0, .5);  */
  z-index: 1;
  /* cursor: pointer; */
  padding: 50px;
 }

.full-img{
   /* width: 100%;  */
   /* height: 100%; */
  max-width: 1000px;
   max-height: 600px; 
  border: #fff solid 1px;
  border-radius: 10px;
  border: #fff solid 1px;
  border-radius: 10px;
  background-color: #262729;
  transition: 0.8s;
}

@media screen and (max-width: 1200px){
  .popup-photo{
    grid-template-columns: repeat(2, 3fr);
    gap: 10px;
  }
    .full{
      padding: 10px;
    }
    .popup-content {
      padding: 10px;
    }
  
}

@media screen and (max-width: 800px){
  .popup-photo{
    grid-template-columns: repeat(2, 3fr);
    gap: 10px;
  }
    .popup-img{
      max-width: 250px;
      max-height: 250px;
    }
}

@media screen and (max-width: 600px){
    .popup-img{
      max-width: 200px;
      max-height: 200px; 
    }
   
}

@media screen and (max-width: 500px){
  .popup-img{
    max-width: 120px;
    max-height: 120px; 
  }
    .popup-content {
      padding: 5px;
    }
}

@media screen and (max-width: 300px){
  .popup-img{
    max-width: 100px;
    max-height: 100px; 
  }
}
/* popup photo end */













/* media */
@media screen and (max-width: 1200px) {
  .advantages-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }
}

@media screen and (max-width: 1090px){
    .container{
     padding-left: 5px;
     padding-right: 5px;
  }

   .container_second{
    padding-left: 10px;
    padding-right: 10px;
   }

   .where_but{
    display: block;
    width: 200px;
    height: 50px;
    margin-left: 0px;
    margin-top: 50px;
    color:#000;
    border-radius: 10px;
    border: solid 1px rgb(56, 61, 10);
    font-size: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 120px auto 0px;
  }
/* Модальное окно Where */
   .modal_where {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
     background-color: rgba(17, 18, 19, 0.4); 
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-size: cover;
    padding: 20px 10px;
    border-radius: 8px;
    will-change: top, opacity;
    overflow-y: auto;
    overflow-x: hidden;
  }

   .search_flaxtoo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    display: none;
  }

  .modal_search_flaxtoo{
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      min-height: 100%;
      align-items: center;    
      justify-content: center;
      max-width: 800px; 
      padding: 30px 0px; 
  }

  .modal_search_box{
    width: 100%;  
    padding: 20px;
    background-image: url(../logoimg/Гостинка.jpg); 
    border-radius: 8px;
  }

 .search_righttoo{
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent;/*Прозрачній*/
    padding: 20px 0px;
    margin-left: 5px;
  } 
  
  .search_clean{
    border-radius: 5px;
    border: solid 1px rgb(56, 61, 10);
    font-size: 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 7px 0px;
  }

  .search_erase_clean{
    width: 130px;
    margin-left: 5px;    
  }

  .search_erase_search{
    width: 130px;
    margin-left: 5px;
    font-size: 18px;
  }

  .foter_but{
    width: 100px;
    margin-right: 5px;
    
  }

  .modal-content{
    display: block;
    padding-left: 0px;
  }
 
  .search_menutoo{
     top: 0px; 
  }
  
  .search_close-flex{
    width: 100%; 
    display: flex;
    justify-content: flex-end;
    }
    
  .modal_footer_where{
    color:  rgb(11, 38, 58);
    font-size: 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
   }

  .close_but{
    text-align:left;
    width: 100px;
    height: 37px;
    padding-top: 7px;
    text-align: center;
    margin-left: 0px;
    margin-top: 0px;
  }
  /* Модальное окно Where end*/
  .why{
     padding-top: 50px;
  }
}

@media only screen and (min-width: 993px) {
    nav a.sidenav-trigger {
      display: none;
    }
}

@media only screen and (max-width: 992px) {
    .sidenav.sidenav-fixed {
      -webkit-transform: translateX(-105%);
              transform: translateX(-105%);
    }
    .sidenav.sidenav-fixed.right-aligned {
      -webkit-transform: translateX(105%);
              transform: translateX(105%);
    }
    .sidenav > a {
      padding: 0 16px;
    }
    .sidenav .user-view {
      padding: 16px 16px 0;
    }
  }

 @media screen and (max-width: 950px){
    .header_burger {
        display: block;
    }
    .header_menu_left {
        display: none;
    }
    .header_menu_right {
        display: none; 
    }
    .header_enter {
     display: none;
    }
    /*Photo*/
    .box-contant{
      width: 70%;
    }
    /*Photo end*/
}

 @media screen and (max-width: 700px){
    .banner_img {
         min-height: 300px;
         background-image: url('../logoimg/mainfhoto.avif');
         background-repeat: no-repeat;
         background-size: cover;
     }
     .banner_text {
       padding-top: 60px;
       padding-left: 30px;
       width: 250px;
       margin-bottom: px;
    }
     .banner-h1 {
       max-width: 295px;
       font-size: 30px;
    }
    .where_but{
      margin: 35px auto 0px;
      width: 170px;
    }
    .why-h1 {
      font-size: 25px;
    }
    .advantages-grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: 10px;
    }
     /* offers popup */
  .popup-photo{
    grid-template-columns: repeat(2, 3fr);
    gap: 30px;
    justify-items: center; 
    align-items: center;
  }
  /* offers popup end */
  /*posts*/
  .posts-item {
    width: 270px;
    margin-right: 5px;
    margin-bottom: 30px;
  }
  /*posts end*/
  /*Photo*/
  .box-contant{
    width: 80%;
  }
  /*Photo end*/
}
  
@media only screen and (min-width: 601px){
  nav.nav-extended .nav-wrapper {
    min-height: 64px;
  }
  nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
    height: 64px;
    line-height: 64px;
  }
    
}
 
@media screen and (max-width: 500px){
  .header_burger {
   margin-right: 15px;
  }
  .header_burger_line {
      margin-right: 7px;
  }
  .banner_text {
      padding-left: 15px;
  }
  .search_button {
    width: 30px;
    height: 30px;
}
  .modal_search_flaxtoo{
    max-width: 100%; 
  }

  .modal_search_box{
    padding: 0px;
    border-radius: 8px;
  }
 
  .why-h1 {
    font-size: 22px;
  }
  /* offers */
  .offers-item {
    width: 290px;
    min-height: 430px;
    margin-right: 0px;
    /* margin-bottom: 30px; */
    padding: 0px 10px 10px ;
  }
  .offers-flex-text-icon{
    width: 270px;
  }
  .offers-box-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 270px;
    margin-top: 15px;
  }
  .offers-details-item{
    margin-bottom: 5px;
  }
  .offers-details-item:last-child{
    margin-bottom: 0;
  }
    /* offers end */
     /* offers popup */
  .popup-photo{
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    justify-items: center; 
    align-items: center;
  }
  /* offers popup end */
  /*posts*/
  .posts-item {
    width: 300px;
     margin-right: 0px;
    margin-bottom: 30px;
  }
  /*posts end*/
  /*Photo*/
  .box-contant{
    width: 100%;
  }
  /*Photo end*/
}

@media screen and (max-width: 400px){
  .banner-h1 {
    max-width: 300px;
    font-size: 28px;
  }
}
/* media end */
