/* Настройка */
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6,p:{font-size: inherit;font-weight:400;} 
img{
    display: block;
    max-width: 100%;
}
h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    font-family:'Montserrat', sans-serif;
}
.container{
    max-width: 1170px;
    height: 1500px;
    margin: 0 auto;
    /* background-color: #d1f5bc;    */
}
.container_second{
   max-width: 1064px;
   margin: 0 auto;
   /* background-color: #f0cbc9;    */
}
:root{
    --color_text:#262729;
    --color_accent:#2A90D9;
    --color_interaction:#EE685F;
    --color_white:#FFFFFF;
    --color_green: rgb(57, 150, 57);
}
.text-h1{
}
.text-h2{
    color: var(--color-text, #262729);
    font-size: 22px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
}
.text-h3{
}
.text-h4{
  color: var(--color-text, #262729);
    font-size: 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
}
.text-h5{
}
.text-h6{
}
.text-p{
}
.text-p-min{
}
/*Настройка end*/

/* Header */
/* head */
.header_rel{
  position: relative;
}
.header_fix{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1064px;
    width: 100%;
    z-index: 1;
}
.header_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1064px;
    margin-top: px;
    height: 50px;
    background-color: rgba(241, 241, 235, 0.8); 
}
.header_left {
    display: flex;
    align-items: center;
    height: 55px;
}
.header_burger_logo{
    display: flex;
    align-items: center;
}
.header_burger {
    display: none;
    color:var(--color_text);
    margin-right: 5px;
    margin-top: 6px;
}
.header_burger_line {
    margin-right: 16px;
}
.header_burger_item {
    display: block;
    width: 25px;
    height: 2px;
    background-color:#333;
    margin-bottom: 5px;
}
.header_burger_item:last-child{
    margin-bottom: 0;
} 
.header_logo {
    margin-left: 10px;
}
.header_logo-p {
    font-size: 35px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.header_logo_first{
    color: var(--color_accent);
}
.header_logo_second{
    color: var(--color_interaction);
}
.header_menu_left {
   display: flex;
   margin-left: 40px;
   /* display: none;  */
}
.menu-h5 {
    color: var(--color-text, #262729);
    font-size: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 34px;
}
.menu-h5:last-child {
    margin-right: 0;
}
.header_right {
   display: flex;
}
.header_menu_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_money {
     margin-right: 15px; 
     color: var(--color_green)
}
.header_money_img{
}
.header_language {
     margin-right: 15px;
     color:var(--color_accent)
}
.header_language-en_img {}
.header_language-ul_img{}
.header_enter {
  color: var(--color_text);
  margin-right: 4px;
}
.header_enter_img {}
/* head end */

/* banner */
.banner {
   padding-top: 48px;
}
.banner_img {
    min-height: 520px;
    background-image: url('../logoimg/mainfhoto.avif');
    background-repeat: no-repeat;
    background-size: cover;
}
.banner_text {
    padding-top: 110px;
    padding-left: 67px;
}
.banner-h1 {
    max-width: 494px;
    color: var(--color-text, #262729);
    font-size: 43px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.where_but{
  width: 250px;
  height: 50px;
  margin-left: 90px;
  margin-top: 130px;
  color:#000;
  background-color: rgb(77, 167, 147, 0.5);
  border-radius: 10px;
  border: solid 1px rgb(56, 61, 10);
  font-size: 22px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: none;
}
.where_but:hover{
  background-color:  rgb(77, 167, 147);
}
.text-h4 {
    max-width: 450px;
    color: var(--color-text, #262729);
    font-size: 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    margin-top: 40px;
}
/* baner end */

/* Search */
.search {
    position: relative;
    height: 70px;
    /* background-color: #EE685F; */
}
.search_erase{
  background-color: rgb(42, 144, 217, 0.1);
  text-align: center;
}
.search_menutoo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    max-width: 970px;
    width: 100%;
    /* background-color: rgb(124, 146, 161); */
    top: -35px;
    /* border: 2px solid #D6D6D6; */
    /* background: var(--color-white, #FFF); */
   
  }
  .search_flaxtoo{
    display: flex;
    justify-content: space-between;
  }
  .hei{
    min-height: 100px;
  }
  .search_righttoo{
    width: 280px;
    height: 60px;
    background-color: #8ccef5;
    /* background-color: rgb(42, 144, 217, 0.5);  */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);  
    padding-left: 12px;
  }
  .search_right_img{
     color: #000; 
    /* width: 30px; */
    /* height: 30px; */
  }
  .search_icons{
    color: rgb(56, 61, 10);
  }
  .search_inp{
    width: 200px;
    height: 40px;
  }
  .search_sel{
    background-color: rgba(158, 206, 240, 0.9);
    margin-left: 5px;

  }
  .search_buttontoo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16); 
    background-color: #8ccef5;
    /* background-color: rgb(42, 144, 217, 0.5);  */
    /* background-color: aqua; */
  }
  .search_erase{
    background-color: rgba(158, 206, 240, 0.9);
    width: 40px;
    height: 40px;
    border: rgb(10, 9, 9, 0.5) solid 1px;
    padding-top: 7px;
    border-radius: 5px;
  }
  
  .search_go{
    background-color: rgba(158, 206, 240, 0.9);
    width: 40px;
    height: 40px;
    border: rgb(10, 9, 9, 0.5) solid 1px;
    padding-top: 7px;
    border-radius: 5px;
  }

/* Search end */

/* Выдвижное меню */
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
  .sidenav span.badge {
    margin-top: calc(24px - 11px);
  }

  .sidenav .collapsible,
  .sidenav.fixed .collapsible {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  .sidenav .collapsible li,
  .sidenav.fixed .collapsible li {
    padding: 0;
  }
  
  .sidenav .collapsible-header,
  .sidenav.fixed .collapsible-header {
    background-color: transparent;
    border: none;
    line-height: inherit;
    height: inherit;
    padding: 0 16px;
  }
  
  .sidenav .collapsible-header:hover,
  .sidenav.fixed .collapsible-header:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .sidenav .collapsible-header i,
  .sidenav.fixed .collapsible-header i {
    line-height: inherit;
  }
  
  .sidenav .collapsible-body,
  .sidenav.fixed .collapsible-body {
    border: 0;
    background-color: #fff;
  }
  
  .sidenav .collapsible-body li a,
  .sidenav.fixed .collapsible-body li a {
    padding: 0 23.5px 0 31px;
  }
  .sidenav {
    position: fixed;
    width: 300px;
    left: 0;
    top: 0;
    margin: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    height: 100%;
    height: calc(100% + 60px);
    height: -moz-calc(100%);
    padding-bottom: 60px;
    background-color: #fff;
    z-index: 999;
    overflow-y: auto;
    will-change: transform;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: translateX(-105%);
            transform: translateX(-105%);
  }
  
.sidenav.right-aligned {
    right: 0;
    -webkit-transform: translateX(105%);
            transform: translateX(105%);
    left: auto;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  
  .sidenav .collapsible {
    margin: 0;
  }
  
  .sidenav li {
    float: none;
    line-height: 48px;
  }
  
  .sidenav li.active {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .sidenav li > a {
    color: rgba(0, 0, 0, 0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
  }
  
  .sidenav li > a:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .sidenav li > a.btn, .sidenav li > a.btn-large, .sidenav li > a.btn-small, .sidenav li > a.btn-large, .sidenav li > a.btn-flat, .sidenav li > a.btn-floating {
    margin: 10px 15px;
  }
  
  .sidenav li > a.btn, .sidenav li > a.btn-large, .sidenav li > a.btn-small, .sidenav li > a.btn-large, .sidenav li > a.btn-floating {
    color: #fff;
  }
  
  .sidenav li > a.btn-flat {
    color: #343434;
  }
  
  .sidenav li > a.btn:hover, .sidenav li > a.btn-large:hover, .sidenav li > a.btn-small:hover, .sidenav li > a.btn-large:hover {
    background-color: #2bbbad;
  }
  
  .sidenav li > a.btn-floating:hover {
    background-color: #26a69a;
  }
  /* Настройка положения  иконок в меню */
  .sidenav li > a > i,
  .sidenav li > a > [class^="mdi-"], .sidenav li > a li > a > [class*="mdi-"],
  .sidenav li > a > i.material-icons {
    float: left;
    height: 48px;
    line-height: 48px;
    margin: 0 32px 0 0;
    width: 24px;
    color: rgba(0, 0, 0, 0.54);
  }
  
  .sidenav .divider {
    margin: 8px 0 0 0;
  }
  
  .sidenav .subheader {
    cursor: initial;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    font-weight: 500;
    line-height: 48px;
  }
  
  .sidenav .subheader:hover {
    background-color: transparent;
  }
  
  .sidenav .user-view {
    position: relative;
    padding: 32px 32px 0;
    margin-bottom: 8px;
  }
  
  .sidenav .user-view > a {
    height: auto;
    padding: 0;
  }
  
  .sidenav .user-view > a:hover {
    background-color: transparent;
  }
  
  .sidenav .user-view .background {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  
  .sidenav .user-view .circle, .sidenav .user-view .name, .sidenav .user-view .email {
    display: block;
  }
  
  .sidenav .user-view .circle {
    height: 64px;
    width: 64px;
  }
  
  .sidenav .user-view .name,
  .sidenav .user-view .email {
    font-size: 14px;
    line-height: 24px;
  }
  
  .sidenav .user-view .name {
    margin-top: 16px;
    font-weight: 500;
  }
  
  .sidenav .user-view .email {
    padding-bottom: 16px;
    font-weight: 400;
  }
  
  .drag-target {
    height: 100%;
    width: 10px;
    position: fixed;
    top: 0;
    z-index: 998;
  }
  
  .drag-target.right-aligned {
    right: 0;
  }
  
  .sidenav.sidenav-fixed {
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: fixed;
  }
  
  .sidenav.sidenav-fixed.right-aligned {
    right: 0;
    left: auto;
  }
  
  .sidenav .collapsible-body > ul:not(.collapsible) > li.active,
  .sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active {
    background-color: #ee6e73;
  }
  
  .sidenav .collapsible-body > ul:not(.collapsible) > li.active a,
  .sidenav.sidenav-fixed .collapsible-body > ul:not(.collapsible) > li.active a {
    color: #fff;
  }
  
  .sidenav .collapsible-body {
    padding: 0;
  }
  
  .sidenav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 997;
    display: none;
  }

  .collection .collection-item.avatar:not(.circle-clipper) > .circle,
  .collection .collection-item.avatar :not(.circle-clipper) > .circle {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
  }
  
  .collection .collection-item.avatar i.circle {
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    background-color: #999;
    text-align: center;
  }
  .circle {
    border-radius: 50%;
  }
  .waves-circle {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  }
  .waves-circle {
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%;
    -webkit-mask-image: none;
  }

  .gap-patch .circle {
    width: 1000%;
    left: -450%;
  }
  
  .circle-clipper {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-color: inherit;
  }
  
  .circle-clipper .circle {
    width: 200%;
    height: 100%;
    border-width: 3px;
    /* STROKEWIDTH */
    border-style: solid;
    border-color: inherit;
    border-bottom-color: transparent !important;
    border-radius: 50%;
    -webkit-animation: none;
    animation: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }
  
  .circle-clipper.left .circle {
    left: 0;
    border-right-color: transparent !important;
    -webkit-transform: rotate(129deg);
    transform: rotate(129deg);
  }
  
  .circle-clipper.right .circle {
    left: -100%;
    border-left-color: transparent !important;
    -webkit-transform: rotate(-129deg);
    transform: rotate(-129deg);
  }
  
  .active .circle-clipper.left .circle {
    /* duration: ARCTIME */
    -webkit-animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  }
  
  .active .circle-clipper.right .circle {
    /* duration: ARCTIME */
    -webkit-animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
    animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  }

  .breadcrumb i,
  .breadcrumb [class^="mdi-"], .breadcrumb [class*="mdi-"],
  .breadcrumb i.material-icons {
    display: inline-block;
    float: left;
    font-size: 24px;
  }
  .material-icons {
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: 'liga';
       -moz-font-feature-settings: 'liga';
            font-feature-settings: 'liga';
  }
  nav i,
nav [class^="mdi-"], nav [class*="mdi-"],
nav i.material-icons {
  display: block;
  font-size: 24px;
  height: 56px;
  line-height: 56px;
}
nav .brand-logo i,
nav .brand-logo [class^="mdi-"], nav .brand-logo [class*="mdi-"],
nav .brand-logo i.material-icons {
  float: left;
  margin-right: 15px;
}
nav ul a.btn > .material-icons, nav ul a.btn-large > .material-icons, nav ul a.btn-small > .material-icons, nav ul a.btn-large > .material-icons, nav ul a.btn-flat > .material-icons, nav ul a.btn-floating > .material-icons {
    height: inherit;
    line-height: inherit;
  }
  
.input-field input[type=search]:focus:not(.browser-default) + label i,
.input-field input[type=search]:focus:not(.browser-default) ~ .mdi-navigation-close,
.input-field input[type=search]:focus:not(.browser-default) ~ .material-icons {
  color: #444;
}

.input-field input[type=search] + .label-icon {
  -webkit-transform: none;
          transform: none;
  left: 1rem;
}

.input-field input[type=search] ~ .mdi-navigation-close,
.input-field input[type=search] ~ .material-icons {
  position: absolute;
  top: 0;
  right: 1rem;
  color: transparent;
  cursor: pointer;
  font-size: 2rem;
  -webkit-transition: .3s color;
  transition: .3s color;
}
.divider {
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
  }
  .dropdown-content li.divider {
    min-height: 0;
    height: 1px;
  }
/* Выдвижное меню end */
/* Модальное окно Where */

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0);
          transform: scale(0);
  pointer-events: none;
}

.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.45);
}

.waves-effect.waves-red .waves-ripple {
  background-color: rgba(244, 67, 54, 0.7);
}

.waves-effect.waves-yellow .waves-ripple {
  background-color: rgba(255, 235, 59, 0.7);
}

.waves-effect.waves-orange .waves-ripple {
  background-color: rgba(255, 152, 0, 0.7);
}

.waves-effect.waves-purple .waves-ripple {
  background-color: rgba(156, 39, 176, 0.7);
}

.waves-effect.waves-green .waves-ripple {
  background-color: rgba(76, 175, 80, 0.7);
}

.waves-effect.waves-teal .waves-ripple {
  background-color: rgba(0, 150, 136, 0.7);
}

.waves-effect input[type="button"], .waves-effect input[type="reset"], .waves-effect input[type="submit"] {
  border: 0;
  font-style: normal;
  font-size: inherit;
  text-transform: inherit;
  background: none;
}

.waves-effect img {
  position: relative;
  z-index: -1;
}
.waves-effect .waves-ripple {
  z-index: -1;
}
.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.45);
}
.z-depth-5, .modal {
  -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}
.modal {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 0;
  max-height: 70%;
  width: 55%;
  margin: auto;
  overflow-y: auto;
  border-radius: 2px;
  will-change: top, opacity;
}

.modal:focus {
  outline: none;
}

.modal h1, .modal h2, .modal h3, .modal h4 {
  margin-top: 0;
}

.modal .modal-content {
  padding: 24px;
}

.modal .modal-close {
  cursor: pointer;
}

.modal .modal-footer {
  border-radius: 0 0 2px 2px;
  background-color: #fafafa;
  padding: 4px 6px;
  height: 56px;
  width: 100%;
  text-align: right;
}

.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-small, .modal .modal-footer .btn-flat {
  margin: 6px 0;
}

.modal-overlay {
  position: fixed;
  z-index: 999;
  top: -25%;
  left: 0;
  bottom: 0;
  right: 0;
  height: 125%;
  width: 100%;
  background: #000;
  display: none;
  will-change: opacity;
}

.modal.modal-fixed-footer {
  padding: 0;
  height: 70%;
}

.modal.modal-fixed-footer .modal-content {
  position: absolute;
  height: calc(100% - 56px);
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
}

.modal.modal-fixed-footer .modal-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
}

.modal.bottom-sheet {
  top: auto;
  bottom: -100%;
  margin: 0;
  width: 100%;
  max-height: 45%;
  border-radius: 0;
  will-change: bottom, opacity;
}

.modal .modal-content {
  padding: 24px;
}
.modal.modal-fixed-footer .modal-content {
  position: absolute;
  height: calc(100% - 56px);
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
}
datepicker-container.modal-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}
.datepicker-container.modal-content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.timepicker-container.modal-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}
.timepicker-container.modal-content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.modal .modal-footer {
  border-radius: 0 0 2px 2px;
  background-color: #fafafa;
  padding: 4px 6px;
  height: 56px;
  width: 100%;
  text-align: right;
}

.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-small, .modal .modal-footer .btn-flat {
  margin: 6px 0;
}
.modal.modal-fixed-footer .modal-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
}
.modal .modal-close {
  cursor: pointer;
}
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  opacity: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform: scale(0);
          transform: scale(0);
  pointer-events: none;
}

.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.45);
}

.waves-effect.waves-red .waves-ripple {
  background-color: rgba(244, 67, 54, 0.7);
}

.waves-effect.waves-yellow .waves-ripple {
  background-color: rgba(255, 235, 59, 0.7);
}

.waves-effect.waves-orange .waves-ripple {
  background-color: rgba(255, 152, 0, 0.7);
}

.waves-effect.waves-purple .waves-ripple {
  background-color: rgba(156, 39, 176, 0.7);
}

.waves-effect.waves-green .waves-ripple {
  background-color: rgba(76, 175, 80, 0.7);
}

.waves-effect.waves-teal .waves-ripple {
  background-color: rgba(0, 150, 136, 0.7);
}

.waves-effect input[type="button"], .waves-effect input[type="reset"], .waves-effect input[type="submit"] {
  border: 0;
  font-style: normal;
  font-size: inherit;
  text-transform: inherit;
  background: none;
}

.waves-effect img {
  position: relative;
  z-index: -1;
}
.waves-effect .waves-ripple {
  z-index: -1;
}
.waves-effect.waves-green .waves-ripple {
  background-color: rgba(76, 175, 80, 0.7);
}
nav ul a.btn, nav ul a.btn-large, nav ul a.btn-small, nav ul a.btn-large, nav ul a.btn-flat, nav ul a.btn-floating {
  margin-top: -2px;
  margin-left: 15px;
  margin-right: 15px;
}
nav ul a.btn > .material-icons, nav ul a.btn-large > .material-icons, nav ul a.btn-small > .material-icons, nav ul a.btn-large > .material-icons, nav ul a.btn-flat > .material-icons, nav ul a.btn-floating > .material-icons {
  height: inherit;
  line-height: inherit;
}
btn-flat {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

.btn.disabled, .disabled.btn-large, .disabled.btn-small,
.btn-floating.disabled,
.btn-large.disabled,
.btn-small.disabled,
.btn-flat.disabled,
.btn:disabled,
.btn-large:disabled,
.btn-small:disabled,
.btn-floating:disabled,
.btn-large:disabled,
.btn-small:disabled,
.btn-flat:disabled,
.btn[disabled],
.btn-large[disabled],
.btn-small[disabled],
.btn-floating[disabled],
.btn-large[disabled],
.btn-small[disabled],
.btn-flat[disabled] {
  pointer-events: none;
  background-color: #DFDFDF !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #9F9F9F !important;
  cursor: default;
}

.btn.disabled:hover, .disabled.btn-large:hover, .disabled.btn-small:hover,
.btn-floating.disabled:hover,
.btn-large.disabled:hover,
.btn-small.disabled:hover,
.btn-flat.disabled:hover,
.btn:disabled:hover,
.btn-large:disabled:hover,
.btn-small:disabled:hover,
.btn-floating:disabled:hover,
.btn-large:disabled:hover,
.btn-small:disabled:hover,
.btn-flat:disabled:hover,
.btn[disabled]:hover,
.btn-large[disabled]:hover,
.btn-small[disabled]:hover,
.btn-floating[disabled]:hover,
.btn-large[disabled]:hover,
.btn-small[disabled]:hover,
.btn-flat[disabled]:hover {
  background-color: #DFDFDF !important;
  color: #9F9F9F !important;
}

.btn, .btn-large, .btn-small,
.btn-floating,
.btn-large,
.btn-small,
.btn-flat {
  font-size: 14px;
  outline: 0;
}

.btn i, .btn-large i, .btn-small i,
.btn-floating i,
.btn-large i,
.btn-small i,
.btn-flat i {
  font-size: 1.3rem;
  line-height: inherit;
}
.btn-flat {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  color: #343434;
  cursor: pointer;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.btn-flat:focus, .btn-flat:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-flat:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn-flat.disabled, .btn-flat.btn-flat[disabled] {
  background-color: transparent !important;
  color: #b3b2b2 !important;
  cursor: default;
}
.modal .modal-footer .btn, .modal .modal-footer .btn-large, .modal .modal-footer .btn-small, .modal .modal-footer .btn-flat {
  margin: 6px 0;
}
.sidenav li > a.btn, .sidenav li > a.btn-large, .sidenav li > a.btn-small, .sidenav li > a.btn-large, .sidenav li > a.btn-flat, .sidenav li > a.btn-floating {
  margin: 10px 15px;
}
.sidenav li > a.btn-flat {
  color: #343434;
}
/* Модальное окно Where end */

/* Кногпка модального менбю  Where*/
.where_but{
  width: 250px;
  height: 50px;
  margin-left: 90px;
  margin-top: 130px;
  color:#000;
  background-color: rgb(77, 167, 147, 0.5);
  border-radius: 10px;
  border: solid 1px rgb(56, 61, 10);
  font-size: 22px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: none;
}
.where_but:hover{
  background-color:  rgb(77, 167, 147);
}
.where_menu{
  display: none;
  flex-direction: column;
  align-items: center;
}
.modal-content{
  display: none;
}
/* Кногпка модального менбю  Where end */

@media screen and (max-width: 1090px){
    .container{
     padding-left: 5px;
     padding-right: 5px;
     /* background-color: #d1f5bc;   */
  }
   .container_second{
    padding-left: 10px;
    padding-right: 10px;
    /* background-color: #f0cbc9;    */
   }
   .where_but{
    display: block;
      width: 200px;
      height: 50px;
      margin-left: 0px;
      margin-top: 50px;
      color:#000;
      background-color: rgb(77, 167, 147, 0.5);
      border-radius: 10px;
      border: solid 1px rgb(56, 61, 10);
      font-size: 20px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      display: block;
      margin: 70px auto 0px;
    
  }
   .search_righttoo{
    min-width: 280px;
    height: 60px;
    /* background-color: rgb(42, 144, 217, 0.5);  */ */
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
    font-size: 15px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);  
    margin-bottom: 5px; 
  }
  .search_flaxtoo{
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
  }
  .where_menu{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .search_menutoo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    min-height: 340px;
    max-width: 890px;
    width: 100%;
    /* background-color: rgb(124, 146, 161); */
    top: 0px;
    /* border: 2px solid #D6D6D6; */
      /* background: #8ccef5;  */
     padding-top: 10px;
   }
   .search_sel{
    margin-left: 5px;
    
  }
   .search_buttontoo{
    margin-bottom: 5px;
    min-width: 280px;
   }
   .search_buttontoo:last-child{
    margin-bottom: 10px;
   }
   .modal-content{
    display: block;
  }
   .modal_where {
    width: 90%;
    min-height: 450px;
   }
   .modal_footer_where{
    color:  rgb(11, 38, 58);
    font-size: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
   }
   .modal-h2{
    text-align: center;
    margin-bottom: 10px;
   }
}
@media only screen and (min-width: 993px) {
    nav a.sidenav-trigger {
      display: none;
    }
}
@media only screen and (max-width: 992px) {
    .sidenav.sidenav-fixed {
      -webkit-transform: translateX(-105%);
              transform: translateX(-105%);
    }
    .sidenav.sidenav-fixed.right-aligned {
      -webkit-transform: translateX(105%);
              transform: translateX(105%);
    }
    .sidenav > a {
      padding: 0 16px;
    }
    .sidenav .user-view {
      padding: 16px 16px 0;
    }
  }
@media screen and (max-width: 900px){
    .header_burger {
        display: block;
    }
    .header_menu_left {
        display: none;
    }
    .header_menu_right {
        display: none; 
    }
    .header_enter {
     display: none;
    }
  
    .search_left {
        width: 190px;
    }
    .search_right {
        width: 124px;
    }
    .search_menu {
       max-width: 400px;
    }
   
   
} 
 @media screen and (max-width: 610px){
   .banner_img {
        min-height: 300px;
        background-image: url('../logoimg/mainfhoto.avif');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .banner_text {
      padding-top: 40px;
      padding-left: 30px;
   }
    .banner-h1 {
      max-width: 295px;
      font-size: 30px;
   }
  
   .text-h4 {
      display: none;
    }
   .search_menu {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 13px;
    }
}
@media only screen and (min-width: 601px){
    nav.nav-extended .nav-wrapper {
      min-height: 64px;
    }
    nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
      height: 64px;
      line-height: 64px;
    }
}
@media screen and (max-width: 500px){
    .header_burger {
     margin-right: 15px;
    }
    .header_burger_line {
        margin-right: 7px;
    }
    .banner_text {
        padding-left: 15px;
    }
    .text-h4 {
        display: none;
    }
 
   .search_right {
        display: none;
    }
    .search_menu {
       max-width: 250px;
       height: 50px;
       padding-top: 8px;
       margin-top: -50px;
    }
    .search_left {
        max-width: 176px;
        height: 30px;
        background-color: #EE685F;
    }
    .search_button {
      width: 30px;
      height: 30px;
  }
  .modal_where {
    width: 90%;
    min-height: 480px;
   }
}
@media screen and (max-width: 400px){
  .banner-h1 {
    max-width: 300px;
    font-size: 28px;
  }
}