
/* popup to know moo */
.popups_toknowmoo {
 
}
.popup_toknowmoo  {
  position: fixed;
  width: 100%;
  height: 100%;
   background-color: rgb(0, 0, 0, 0.8); 
  left: 0;
  top: 0;
  opacity: 0; 
  visibility: hidden;  
 overflow-y: auto; 
 overflow-x: hidden;
 transition: all 1.2s ease 0s; 
 z-index: 1; 
  /*
  z-index: 2;
  display: none; 
  transition: 0.8s ; 
  */ 
}
.popup_toknowmoo::-webkit-scrollbar{
  width: 12px;
}
.popup_toknowmoo::-webkit-scrollbar-track{
  background-color: #bfc9eb;
}
.popup_toknowmoo::-webkit-scrollbar-thumb{
  background-color: var(--color_accent);
  border-radius: 5px;
  border:  #bfc9eb solid 2px;
}
.popup_toknowmoo::-webkit-scrollbar-thumb:hover{
  background-color: var(--color_therd-hover)ж
}
.popup_toknowmoo.open-to-know-moo{
  opacity: 1;
  visibility: visible;
}
.popup_toknowmoo.open-to-know-moo .popup_toknowmo-content{
  transform: perspective(600px) translate(0px, 0%) rotate(0deg);  
  opacity: 1; 
}
.popup_toknowmoo-body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center ;
  padding: 10px 10px;
  transition: all 1.2s ease 0s;
}
.popup_toknowmo-content {
  position: relative;
  background-color: transparent;/*Прозрачній*/
  color: #000;
  max-width: 1200px;
  min-height:100px;
  background-color: #B6E0EE; 
  overflow-x: hidden; 
  overflow-y: auto;  
  padding: 10px;
  opacity: 1;
  /* transform: translate(0%, -100%);   */
  transition: all 1.2s ease 0s; 
  transform: perspective(600px) translate(0px, -100%) rotatex(45deg);
  z-index: 1;
}
.popup_toknowmoo-header {
   background-color: #bbc9f1;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.button_toknowmoo-close {
  width: 110px;
  height: 35px;
  border-radius: 10px;
  background-color: rgb(172, 9, 9, 0.8);
  margin-right: 10px;
  margin-top: 10px;
}
.button_toknowmoo-close:hover{
   background-color: #AC0909; 
   border-radius: 10px;
}
.text_toknowmoo-5 {
  color: #FFF;
  line-height: 0%;
  letter-spacing: 2.43px;
}

.popup_tonowmoo-information {
}
.popup_toknoqmoo-footer {
}
/* popup to know moo end */


  /* Name and addres*/
  .name-addres {
    margin-top: 70px;
    margin-left: 190px;
   
  }
  .name-addres-h1 {
    color: #000;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 0%; /* 0px */
    letter-spacing: 4.32px;
    text-align: left;
  }
  .name-addres-h3 {
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 0%; /* 0px */
    letter-spacing: 4.32px;
    margin-top: 52px;
    text-align: left;
  }
   /* Name and addres end*/

  /*Buttons popup*/
   .popup_tonowmoo-information-buttons {
    width: 800px;
    margin: 60px auto 0px;
    display: flex;
    justify-content: space-between;
  }
  .favorites-button, .reviews-button, .reservation-button {
    width: 214px;
    height: 50px;
    border-radius: 10px;
  }
  .favorites-button{
    background-color: rgb(15, 113, 6, 0.8);
  }
  .favorites-button:hover{
    background-color: #0F7106;
  }
  .reviews-button {
    background-color: rgba(87, 17, 240, 0.8);
  }
  .reviews-button:hover {
    background-color: #550EEDF0;
  }
  .reservation-button {
    background-color: rgba(38, 46, 245, 0.8);
  }
  .reservation-button:hover {
    background-color: #262EF5F0;
  }
 /*Buttons popup end*/


/* Photo JS */
.img-container {
  max-width: 934px;
  min-height: 200px;
  margin: 42px auto 0px;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 20px;
  justify-items: center;
  padding: 10px;   
  border: #5A2525 solid 4px; 
  border-radius: 10px;
}
.item-button {
  width: 250px; 
  height: 150px; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.full-screen{
  display: flex;
  align-items: center;
  justify-content: center;
}
.scale {
  width: 250px;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  border: #000 solid 1px;
}
/* Photo JS end*/




/* Variant information */
/*
.variant-information {
  margin: 58px auto 0px;
  justify-content: center;
  max-width: 1100px;
  min-height: 200px;
  border-radius: 10px;
  border: 8px solid #2A3387;
  background: #2A3387;
  padding: 30px 20px;
}
.variant-information-text {
  text-align: center;
}
.variant-information-h2 {
  color: #AEDAF3;
  font-size: 24px;
  font-weight: 700;
  line-height: 0%; 
  letter-spacing: 3.24px;
}
.variant-information-card {
  display: flex;
  background-color: #fff;
  min-width: 200px;
  min-height: 200px;
  border-radius: 10px;
  border: #000 solid 2px;
  margin-top: 30px;
}
.variant-information-card-column1 {
  min-width: 50px;
  min-height: 50px;
}
.variant-information-card-column1-1 {
  display: flex;
  align-items: center;
  padding: 20px 30px;
  min-width: 10px;
  min-height: 10px;
}
.variant-information-card-h3 {
  color: #000;
  font-weight: 600;
  line-height: 0%;
  letter-spacing: 2.7px;
  text-align: left;
}
.variant-information-card-column1-2 {
  padding: 20px 30px;
  min-width: 10px;
  min-height: 10px;
}
.block-h4{
  margin-top: 20px;
  min-width: 10px;
  min-height: 10px;
}
.variant-information-card-h4 {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  line-height: 169%;
  letter-spacing: 2.16px;
}
.variant-information-card-column2 {
   border: #000 solid 1px; 
  min-width: 50px;
  min-height: 50px;

}
.variant-information-card-column2-1 {
  display: flex;
  align-items: center;
  padding: 20px 30px;
  min-width: 10px;
  min-height: 10px;
}
.variant-information-card-column2-2 {
  padding: 20px 30px;
  min-width: 10px;
  min-height: 10px;
}
.variant-information-card-column3 {
  min-width: 50px;
  min-height: 50px;
}
.variant-information-card-column3-1 {
 display: flex;
  align-items: center;
  padding: 20px 30px;
  min-width: 10px;
  min-height: 10px;
}
.variant-information-card-column3-2 {
  padding: 20px 30px;
  min-width: 10px;
  min-height: 10px;
}
*/
/* Variant information end */


/* media */
@media screen and (max-width: 1200px){
    /* Photo JS */
    .img-container {
        grid-template-columns: repeat(3, 2fr);
        gap: 10px;  
  }
  .item-button {
     width: 300px; 
      height: 220px; 
  }
  .scale {
    width: 300px;
  }
  /* Photo JS end*/
}

@media screen and (max-width: 1090px){
      /* Photo JS */
    .item-button {
        width: 270px; 
        height: 200px; 
    }
    .scale {
        width: 270px;
    }
    /* Photo JS end*/
 }

 @media screen and (max-width: 950px){
    /* Photo JS */
    .item-button {
    width: 220px; 
    height: 170px; 
    }
    .scale {
    width: 220px;
    }
    /* Photo JS end*/
 }

 @media screen and (max-width: 700px){
    /* Photo JS */
    .item-button {
    width: 170px; 
    height: 130px; 
    }
    .scale {
    width: 170px;
    }
    /* Photo JS end*/
 }

 @media screen and (max-width: 600px){
    /* Photo JS */
    .item-button {
     width: 150px; 
     height: 120px; 
   }
   .scale {
   width: 150px;
   border-radius: 10px;
   }
   /* Photo JS end*/
}

@media screen and (max-width: 500px){
    /* Photo JS */
    .item-button {
    width: 100px; 
    height: 70px; 
    }
    .scale {
    width: 100px;
    }
    /* Photo JS end*/
}