:root{
  --color_text:#262729;
  --color_accent:#2A90D9;
  --color_interaction:#EE685F;
  --color_white:#FFFFFF;
  --color_green: rgb(57, 150, 57);
  --color_main: #8ccef5;
  --color_main-hover:rgba(22, 146, 235, 0.2);
  --color_cecond-hover: rgba(158, 206, 240); 
  --color_therd-hover: #0a3fec;
  --color_main-focus:rgba(158, 206, 240);
  --color_main-active: rgba(241, 94, 94, 0.2); 
  --color-main-background:  rgba(158, 206, 240, 0.8); 
  --color-moo-background:rgb(43, 187, 156, 0.5);
  --color-moo-background-hover:rgb(43, 187, 156, 0.8);
}
.toknowmo{}
.toknowmo-content {
  position: relative;
  color: #000;
  width: 100%;
  overflow-x: hidden; 
  overflow-y: auto;  
   padding: 10px 10px;  
}
 @media screen and (max-width: 400px){
  .toknowmo-content {
    padding: 5px;
  }
}

/* header to know moo */
.header-toknowmoo{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
/* Name and addres*/
.name-addres-toknowmoo{
  margin-left: 50px;
  max-width: 500px;
  max-height: 500px;
}
.name-addres-h1-toknowmoo {
  color:var(--color_dot);
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px; 
  text-align: left;
  margin-bottom: 5px;
}
.name-addres-h3-toknowmoo {
  color:var(--color_dot);
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1px;
  text-align: left;
  max-width: 500px;
  max-height: 500px;
  margin-bottom: 5px;
}
 @media screen and (max-width: 600px){
  .name-addres-toknowmoo{
    margin-top: 0px;
    margin-left: 50px;
  }
  .name-addres-h1-toknowmoo {
    font-size: 25px;
    letter-spacing: 2px;
    margin-bottom: 0px;
  }
  .name-addres-h3-toknowmoo {
    font-size: 18px;
    letter-spacing: 1px;
  }
 }
 @media screen and (max-width: 500px){
  .name-addres-toknowmoo{
    margin-left: 30px;
  }
 }
 @media screen and (max-width: 400px){
  .name-addres-toknowmoo{
    margin-left: 0px;
  }
}
/* Name and addres end*/

/*Buttons to know moo*/
 .toknowmoo-information-buttons {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}
.favorites-button, .reviews-button, .reservation-button {
  width: 160px;
  height: 25px;
  border-radius: 5px;
  box-shadow: #000 0px 5px 10px;
  border: #000 solid 1px;
  cursor: pointer;
  margin: 10px;
}
.text_toknowmoo-h6-buttons{
  line-height: 0%;
  letter-spacing: 1px;
  font-style: normal;
  color: #000;
  font-weight: 600;
}
.favorites-button{
  background-color:var(--color_accent);
}
.favorites-button:hover{
   background-color:hsl(205, 56%, 33%);
}
.reviews-button {
  background-color: rgba(100, 77, 14, 0.8);
  color: #000;
}
.reviews-button:hover {
  background-color:  rgba(100, 77, 14);
}
.reservation-button {
  background-color:var(--color_interaction)
}
  .reservation-button:hover {
  background-color: #ac4039;
}
@media screen and (max-width: 800px){
  .header-toknowmoo{
    flex-direction: column;
  }
  .toknowmoo-information-buttons{
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 20px;
  }
}
@media screen and (max-width: 650px){
  .toknowmoo-information-buttons{
    flex-wrap: wrap;
     margin: 10px 50px;
    }
}
@media screen and (max-width: 500px){
  .toknowmoo-information-buttons{
     margin: 0px 0px;
    }
}
@media screen and (max-width: 400px){
  .favorites-button, .reviews-button, .reservation-button {
    width: 160px;
    height: 25px;
    border-radius: 10px;
    box-shadow: #000 0px 5px 10px;
    border: #000 solid 1px;
    cursor: pointer;
    margin: 10px 5px;
  }
}
/*Buttons to know moo end*/
 /* header to know moo end*/


.popup_tonowmoo-information {
}
/* slider */
.slider {
  max-width: 80%; 
  margin: 20px auto;
  overflow: hidden; 
  border-radius: 10px;
}
.slider-line {
 display: flex;
 transition: all 0.9s;
 left: 0;
}
.img{
   width: 100%; 
   min-height:100px ; 
}
.buttons{
 display: flex;
 justify-content: space-around;
}
.slider-start, .slider-previous, .slider-next{
 /* background-color: rgb(7, 195, 41, 0.2); */
 width: 100px;
 height: 25px;
 border-radius: 5px;
 color: #000;
 font-weight: 700;
 box-shadow: #000 0px 5px 10px;
 border: #000 solid 1px;
 cursor: context-menu;
}
.slider-start{
  background-color:var(--color_accent);
}
.slider-previous{
  background-color:var(--color_dot);
}
.slider-next{
  background-color:var(--color_interaction);
}

.green{
 /* background-color: rgb(44, 239, 80); */
 cursor: pointer;
}
/* slider end */



.popup_toknoqmoo-footer {
}
/* popup to know moo end */

